.App {
  font-family: "Roboto", sans-serif;
  background-color: #f7f9fc;
  padding: 20px;
}

h1 {
  color: #1d4ed8;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

li {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ef4444;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #dc2626;
}

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  color: #374151;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-bottom: 10px;
}

input:focus {
  border-color: #1d4ed8;
  outline: none;
}

.error {
  color: red;
  margin-bottom: 10px;
}
